<div class="ui divided items">
    <div class="item">
    <div class="image">
        <img src="<%= itemData['photoUrl'] %>" class="max-w-xs">
    </div>
    <div class="content">
        <a class="header"><%= itemData['name'] %></a>
        <div class="meta">
            <span class="cinema">
                ₱ <%= parseFloat(itemData['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
            </span>
        </div>
        <div class="description">
            <p><%= itemData['description'] %></p>
        </div>
        <div class="extra">
            <button class="ui labeled icon button">
                <i class="shop icon"></i>
                Add to Cart
            </button>
        </div>
    </div>
  </div>
</div>

<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="text-center">
    <%- include('../partials/header'); %>
        <div class="row">
            <div class="col s4">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= itemData['photoUrl'] %>" class="max-w-xs">
                        <span class="card-title">
                            <%= itemData['name'] %>
                        </span>
                    </div>
                    <div class="card-content">
                        <p>₱ <%= parseFloat(itemData['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                        </p>
                    </div>
                    <div class="card-action">
                        <button class="ui labeled icon button">
                            <i class="shop icon"></i>
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
        
        <%- include('../partials/footer'); %>
        <%- include('../partials/script'); %>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.js"></script>

</body>

</html>