<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('../partials/head'); %>
    </head>

    <body class="text-center">
        <%- include('../partials/header'); %>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center opacity-80">
                    <h3 class="header col s12 white-text"><i class="material-icons">filter_vintage</i> Jewelry That Shines <i class="material-icons">filter_vintage</i></h3>
                    </div>
                    <br>
                </div>
            </div>
            <div class="parallax"><img src="images/bg1.jpg" alt="Unsplashed background img 3"></div>
        </div>
            <div class="section brown lighten-5">
                <div class="row container">
                    <h4 class="header brown-text">Our Products</h4>
                </div>
                <div class="row container">
    
                    <% for(var index=0; index < itemData.length; index++){ %>
                        <div class="col s4">
                            <a href="/item/<%= itemData[index].id %>">
                                <div class="card center-align">
                                    <div class="card-image">
                                        <img src="<%= itemData[index].data()['photoUrl'] %>">
                                    </div>
    
                                    <div class="card-body" style="padding-bottom: 5px;">
                                        <h3 class="card-title center-align black-text">
                                            <%= itemData[index].data()['name'] %>
                                        </h3>
                                        
                                        <h5 class="card-text center-align grey-text">
                                            ₱ <%=
                                                parseFloat(itemData[index].data()['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'
                                            ) %>
                                        </h5><br>
                                    </div>
                                </div>
                            </a>
                        </div>
                    <% } %>
                </div>
            </div>
        <div class="parallax-container valign-wrapper">
            <div class="section no-pad-bot">
                <div class="container">
                    <div class="row center opacity-80">
                    <h3 class="header col s12 white-text"><i class="material-icons">filter_vintage</i> Made Just For You <i class="material-icons">filter_vintage</i></h3>
                    </div>
                </div>
            </div>
            <div class="parallax"><img src="images/bg2.jpg" alt="Unsplashed background img 3"></div>
        </div>

        <%- include('../partials/footer'); %>
        <%- include('../partials/script'); %>
    </body>

</html>