<!DOCTYPE html>
<html lang="en">

<head></head>

<body class="text-center">
    <%- include('../partials/header'); %>

        <div class="parallax-container">
            <div class="parallax"><img src="background1.jpg"></div>
        </div>
        <div class="section green lighten-2">
            <div class="row container">
                <h4 class="header">Our Products</h4>
                <p class="grey-text text-darken-3 lighten-3">"Jewelry that shines"</p>
            </div>
            <div class="row container">

                <% for(var index=0; index < itemData.length; index++){ %>
                    <div class="col s4">
                        <a href="/item/<%= itemData[index].id %>">
                            <div class="card center-align">
                                <div class="card-image">
                                    <img src="<%= itemData[index].data()['imgurl'] %>">
                                </div>

                                <div class="card-body" style="padding-bottom: 5px;">
                                    <h3 class="card-title  center-align">
                                        <%= itemData[index].data()['name'] %>
                                    </h3>
                                    <h5 class="card-text center-align">
                                        ₱ <%=
                                            parseFloat(itemData[index].data()['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,'
                                            ) %>
                                    </h5>
                                </div>
                            </div>
                        </a>
                    </div>
                    <% } %>


            </div>

        </div>
        <div class="parallax-container">
            <div class="parallax"><img src="02.jpg"></div>
        </div>
<%- include('../partials/footer'); %>
</body>

</html>