<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="text brown lighten-5">
    <%- include('../partials/header'); %>

    <div class="ui container">
        <div class="ui horizontal equal width basic segments">
            <div class="ui segment">
                <div class="image">
                    <img src="<%= itemData['photoUrl'] %>" class="ui fluid rounded image">
                </div>
            </div>
            <div class="ui segment">
                <!-- <div class="image">
                    <img src="" class="ui medium image">
                </div> -->
                <div class="ui horizontal card">
                    <div class="content">
                        <div class="header"><%= itemData['name'] %></div>
                        <div class="meta">
                            <span class="category">₱ <%= parseFloat(itemData['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %></span>
                        </div>
                        <div class="description">
                            <p><%= itemData['description'] %></p>
                        </div><br>
                        <div class="extra">
                            <div class="ui buttons">
                                <button class="ui negative button">-</button>
                                <div class="or"></div>
                                <button class="ui positive button">+</button>
                            </div><br><br>
                            <div><input type="text" value=0></div>
                            <div class="ui buttons">
                                <button class="ui positive button"><i class="shop icon"></i>Add Sales Count</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <table class="ui unstackable celled scrolling table" id="myTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date/Time</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>James</td>
                        <td>24</td>
                        <td>Engineer</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>26</td>
                        <td>Engineer</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>

    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>

<!-- Fromantic-Ui Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.js"></script>
</body>
</html>