<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="text-center">
    <%- include('../partials/header'); %>
        <div class="row">
            <div class="col s12 m7">
                <div class="card">
                    <div class="card-image">
                        <img src="<%= itemData['imgurl'] %>">
                        <span class="card-title">
                            <%= itemData['name'] %>
                        </span>
                    </div>
                    <div class="card-content">
                        <p>₱ <%= parseFloat(itemData['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">This is a link</a>
                    </div>
                </div>
            </div>
        </div>

        <%- include('../partials/footer'); %>
            <%- include('../partials/script'); %>
</body>

</html>