<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="text brown lighten-5 font-sans">
    <%- include('../partials/header'); %>

    <div class="ui container">
        <div class="ui horizontal equal width basic segments">
            <div class="ui segment">
                <div class="image">
                    <img src="<%= itemData['photoUrl'] %>" class="ui fluid rounded image">
                </div>
            </div>
            <div class="ui segment">
                <div class="ui horizontal card">
                    <div class="content"><br><br>
                        <div class="header">
                            <span class="ui large text brown-text"><%= itemData['name'] %></span> 
                        </div>
                        
                        <div class="description">
                            <span class="ui medium text"><%= itemData['description'] %></span>
                        </div><br><br>
                        <div class="meta">
                            <span class="ui big text">
                                ₱ <%= parseFloat(itemData['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                            </span>
                        </div><br><br>
                        <div class="extra">
                            
                            <div class="ui buttons">
                               
                                <button class="ui button #d7ccc8 brown lighten-2" onclick="decrement()">-</button>
                                <div>
                                    <input id="demoInput" type="number" min=1 value=1 max=20 class="center-align">
                                </div>
                                <button class="ui button brown darken-1" onclick="increment()">+</button>
                             
                            </div><br><br>
                          
                            <div class="ui buttons">
                                <button class="ui button #d7ccc8 brown lighten-2" onclick="myDeleteFunction()">
                                    Delete
                                </button>
                                <button class="ui button brown darken-1" onclick="myCreateFunction()">
                                    <i class="cart plus icon"></i>Add Sales Count
                                </button><br><br>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <table class="ui unstackable celled scrolling table" id="myTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date/Time</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody id = "tbody">
                    <tr>
                        <td>1</td>
                        <td>10/31/2022, 6:25:29 AM</td>
                        <td>1</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td>10/31/2022, 6:27:04 AM</td>
                        <td>1</td>
                    </tr>
                    </tbody>
                </table>
                <div>
                    <i class="shopping cart icon"></i><span class="ui medium text" id = "tq"></span>
                </div>
            </div>  
        </div>
    </div>

    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>

<!-- Fromantic-Ui Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.js"></script>

</body>
</html>