<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head'); %>
</head>

<body class="text brown lighten-5 font-sans">
    <%- include('../partials/header'); %>

    <div class="ui container">
        <div class="ui horizontal equal width basic segments">
            <div class="ui segment">
                <div class="image">
                    <img src="<%= itemData['photoUrl'] %>" class="ui fluid rounded image">
                </div>
            </div>
            <div class="ui segment">
                <!-- <div class="image">
                    <img src="" class="ui medium image">
                </div> -->
                <div class="ui horizontal card">
                    <div class="content">
                        <div class="header">
                            <span class="ui large text"><%= itemData['name'] %></span> 
                        </div>
                        
                        <div class="description">
                            <p><%= itemData['description'] %></p>
                        </div><br>
                        <div class="meta">
                            <span class="category ui large text">
                                ₱ <%= parseFloat(itemData['price']).toFixed(2).replace(/\d(?=(\d{3})+\.)/g, '$&,' ) %>
                            </span>
                        </div><br>
                        <div class="extra">
                            <div class="ui buttons">
                                <button class="ui negative button" onclick="decrement()">-</button>
                                <div class="or"></div>
                                <button class="ui positive button" onclick="increment()">+</button>
                            </div><br><br>
                            <div>
                                <input id="demoInput" type="number" min=0 value=0>
                            </div><br>
                            <div class="ui buttons">
                                <button class="ui button" onclick="myCreateFunction()">
                                    <i class="shop icon"></i>Add Sales Count
                                </button><br><br>
                                <button class="ui button brown darken-2" onclick="myDeleteFunction()">
                                    Delete
                                </button>
                            </div>
                  
                        </div>
                    </div>
                </div>
            </div>
            <div class="ui segment">
                <table class="ui unstackable celled scrolling table" id="myTable">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Date/Time</th>
                        <th>Quantity</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>James</td>
                        <td>24</td>
                        <td>Engineer</td>
                    </tr>
                    <tr>
                        <td>Jill</td>
                        <td>26</td>
                        <td>Engineer</td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <tr>
                        <% var totalQty = 0; %>
                        <% var hist_array = 0; %>
                        <% for (var index=0;  index < hist_array.length; index++){ %>
                    </tr>
                    </tfoot>
                    <td style="text-align:left"><%= hist_array[index].dateCreated.toDate();%></td>
                    <td style="text-align:justify"><%= (hist_array[index].quantity);%></td>              
                    </tr>
                    </tbody>  
                    <p><% totalQty += (hist_array[index].quantity);%> </p>
                    <% } %> 
                </table>
                <p id="totalQty">Total Quantity Count: <%= totalQty %> pcs </p> 
            </div>  
        </div>
    </div>

    <%- include('../partials/footer'); %>
    <%- include('../partials/script'); %>

<!-- Fromantic-Ui Scripts -->
<script src="https://cdn.jsdelivr.net/npm/jquery@3.6.1/dist/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="/dist/semantic.min.css">
<script src="/dist/semantic.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/fomantic-ui/2.9.0/semantic.min.js"></script>
</body>
</html>